  .sidebar {
    grid-area: sidebar;
  }
  
  .content {
    grid-area: content;
    position: relative;
  }
  
  .header {
    grid-area: header;
  }
  
  .wrapper {
    display: grid;
    grid-gap: 5px;
    /* grid-template-columns: 2fr 5fr; */
    grid-template-columns: 26% auto;
    grid-template-areas:
    "sidebar content";
    background-color: #fff;
    color: #444;
  }

  .header {
    background-color: white;
    font-size: 30px;
    text-align: center;
  }
  
  .box {
    color: #000000;
    border-radius: 5px;
    padding: 2px;
  }
 
  .topleft {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .topright {
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .bottomleft {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  .bottomright {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  /*-----------------------------------------------------------*/
  /* Place name */
  div.input-place-name {
    display: block;
    width: 100%;
  }

  div.input-place-name input {
    margin-bottom: 10px;
    width: 98%;
    font-size: 14px;
  }

  div.input-place-name label {
    display: block;
    margin-left: 2px;
    font-size: 15px;
  }
  
  /*-------------------------------------------------*/
  /* Latitude and longitude */

  div.input-lat {
    display: inline-block;
    width: 50%;
  }

  div.input-lat label {
    display: block;
    margin-left: 2px;
    font-size: 15px;
  }

  div.input-lat input {
    margin-bottom: 10px;
    font-size: 15px;
    width: 96%;
  }

  div.input-lon {
    display: inline-block;
    width: 50%;
  }

  div.input-lon label {
    display: block;
    margin-left: 2px;
    font-size: 15px;
  }

  div.input-lon input {
    margin-bottom: 10px;
    font-size: 15px;
    width: 96%;
  }

  div.input-dist {
    display: inline-block;
    width: 50%;
  }

  div.input-dist label {
    display: block;
    margin-left: 2px;
    font-size: 15px;
  }

  div.input-dist input {
    margin-bottom: 10px;
    font-size: 15px;
    width: 97%;
  }

  /*------------------------------------------------------------*/
  /* Buttons */

  .waves-light.btn-small {
    background-color: skyblue;
    margin-top: 14px;
    width: 100%;
    font-size: 14px;
  }

  .waves-light.btn-small:hover {
    background-color: lightblue;
  }

  .waves-light.btn-small.table {
    background-color: skyblue;
    margin-top: 5px;
    margin-bottom: 20px;
    width: 50%;
    font-size: 14px;
  }

  .waves-light.btn-small.map {
    background-color: skyblue;
    margin-top: 5px;
    margin-bottom: 20px;
    width: 50%;
    font-size: 14px;
  }

  /*--------------------------------------------------------------*/
  /* Table */
  
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;
  }
  
  td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }

  th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }

  thead:nth-child(1) {
    background-color: #eee;
  }

  tr:nth-child(even) {
    background-color: #eee;
  }

  /*-------------------------------------------------------*/
  /* Navigation */

  ul {
    padding: 0;
    width: 100%;
  }
  
  .page-item {
    display: inline;
  }

  .page-item-disabled {
    display: inline-block;
    color: black;
    margin-right: 5px;
    padding: 4px;
  }

  .page-link {
    display: inline-block;
    color: black;
    margin-right: 5px;
    padding: 4px;
    cursor: pointer;
  }

  .page-link:hover {
    background-color: skyblue;
  }

  .page-link-selected {
    display: inline-block;
    background-color: lightblue;
    color: black;
    margin-right: 5px;
    padding: 4px;
  }

  .page-link-selected:hover {
    background-color: skyblue;
  }

  .previous {
    display: inline-block;
    color: black;
    margin-right: 5px;
    padding: 5px;
  }
  
  .previous:hover {
    background-color: skyblue;
  }

  .next {
    display: inline-block;
    color: black;
    padding: 5px;
  }

  .next:hover {
    background-color: skyblue;
  }

  /*-----------------------------------------------------------------*/
  /* Map */

  .leaflet-container {
    width: 100%;
    height: 80vh;
  }

  #map {
    height: 480px;
    width: 680px;
  }

  /*-----------------------------------------------------------------*/
  /* List box */

  div.list-box-wrapper {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }

  div.list-box {
    display: inline-block;
    position: relative;
    width: 100%;
    overflow: auto;
  }

  .list-box select {
    border: none;
    overflow: auto;
    width: 100%;
    background-color: #eee;
  }

  div.country-list-box-wrapper label,
  div.features-list-box-wrapper label {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font-size: 15px;
  }

  .features-list-box-wrapper select.browser-default {
    height: 150px;
  }

  /*-----------------------------------------------------------------*/
  /* Misc */

  .line {
    display: block;
    width: 100%;
    height: 5px;
    /* border-bottom: 2px solid black; */
    border-bottom: 5px solid skyblue;
    /* position: absolute; */
    margin-bottom: 14px;
  }

  /*-----------------------------------------------------------------*/
  /* Navigation Wrapper */

  nav {
    background-color: skyblue;
  }

  /*-----------------------------------------------------------------*/
  /* Checkbox */

  .similar-placename-checkbox[type="checkbox"]:checked + span:not(.lever)::after {
    border:2px solid transparent;
    border-bottom:2px solid #006AB5;
    border-right:2px solid #006AB5;
    /* background:transparent; */
    background-color: skyblue;
  }